body{
    font-family: 'Times New Roman', Times, serif;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.container{
    margin-top: 100px;
    max-width: 500px;
    width: 400px;
}

.header{
    background-color: white;
    color: limegreen;
    text-align: center;
    margin-bottom: 20px;
    font-size: 25px;
    font-weight: bold;
}

.subject{
    margin-bottom: 10px;
}

.subject__title{
    font-weight: bold;
    color: black;
    text-decoration: underline;
}

.subject__name{
    font-style: italic;
}

.subject__formula{
    color: red;
}

.code{
    background-color: lightgray;
    color: royalblue;
    font-size: 10px;
    padding-top: 10px;
}
