.login{
    background-image: url('./DeBai11/hinh/login.jpg');
    background-position: 680px;
    background-size: 230px  230px;
    background-repeat: no-repeat;
    min-height: 100vh;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    line-height: 2;
    font-family: Arial, Helvetica, sans-serif;
}

.login__form{
    min-width: 550px;
    min-height: 270px;
    display: flex;
    flex-direction: column;
    align-items: center;

    border: 2px dotted #d63636;
    border-radius: 15px;
}

.login__title{
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #cb0000;
}

.login__label{
    display: inline-block;
    width: 130px;
    text-align: right;
}

.login__input{
    border: 1.5px dotted #d63636;
    border-radius: 10px;
    padding: 3px;
    background-color: rgba(255, 0, 0, 0.2);
}

.login__submit{
    font-size: 15px;
    line-height: 1;
    margin-top: 6px;
    padding: 6px;
    color: white;
    background-color: #e00f0f;
    border-radius: 12px;
    box-shadow: 0 5px 10px;
}

.login__welcome-message{
    margin-top: 5px;
    color: #da3d2e;
}

.login__welcome-message span{
    font-style: italic;
    font-weight: bold;
    color: #da3d2e;
}
